# PYTHON
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.spec
# Testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.cache/


# Virtual Environment
venv/
env/
ENV/
.env
__pycache__/
*.pyc
.env
.env.local
.env.production
.env.*.local
!.env.example
build/
dist/
*.egg-info/
.eggs/
*.spec
*.log
*.sqlite
*.db
.coverage
htmlcov/

# DATABASE & LOGS
*.db
*.sqlite
*.sqlite3
*.sql
*.dump
*.log
logs/
# Alembic / Migrations

migrations/pycache/
alembic.ini

# Node / Frontend web
node_modules/
dist/
build/
.cache/
.npm/

# Flutter / Mobile
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
build/

# iOS
ios/Pods/
ios/Runner.xcodeproj/project.xcworkspace/

# Android
android/.gradle/
android/.idea/
android/app/build/

# Electron / Desktop
out/
release/
*.asar

# NODE.JS
node_modules/
dist/
build/
.npm/
.cache/


# Arduino build
*.hex
*.elf
*.bin
*.pioenvs/
.pio/

# ESP-IDF
build/
sdkconfig.old

# STM32CubeIDE
*.ioc
Debug/
Release/

# Database dumps
*.sql
*.dump

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# DOCKER
docker-compose.yml


# macOS
.DS_Store

# Windows
Thumbs.db