version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: studentlab-db
    environment:
      POSTGRES_USER: ${DB_USER:-st2lab5admin}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-st2lab5admin}
      POSTGRES_DB: ${DB_NAME:-studentlab_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: